version: '2'
services:
  # Add as many notebooks as GPUs
  {% for i in range(N_GPU) %}
  notebook{{i}}:
    build: .
    env_file: .env
    ports:
      - "2018:8888"
    devices:
      - /dev/nvidia{{i}}
    volumes:
      - Sinz2018_NIPS_data/:/external
      - notebooks/:/notebooks
    environment:
      - DISPLAY=$DISPLAY
  {% endfor %}
